.leavesBlock{
    position: relative;
        img{
            position: absolute;
        }
        .redLeaf{
            left: -120px;
        }
        .redLeaf2{
            right: -400px;
        }
        .greenLeaf{
            top: -130px;
        }
        .greenLeaf2{
            bottom: -200px;
        }
        .orangeLeaf{
            bottom: -100px;
            left: -30px;
        }
        .yellowLeaf{
            bottom: 100px;
        }
        .brownLeaf{
            bottom: 0;
            left: 100px;
        }
}