.promoContainer{
    display: flex;
    justify-content: center;
    margin-top: 180px;
    padding-bottom: 26px;
    overflow: hidden;
    .promoContent{
        background: #00923A;
        border-radius: 20px;
        padding: 16px 0px;
        width: 430px;
        & > p{
            font-family: '5ka Sans Design';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 38px;
            text-align: center;
            color: #FFFFFF;
        }
        .promocode{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 24px;
            p{
                font-family: '5ka Sans Design';
                font-style: normal;
                font-weight: 900;
                font-size: 40px;
                line-height: 48px;
                text-align: center;
                color: #FFFFFF;
                margin-right: 13px;
            }
        }
    }
    .appBlock{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 56px;
        
        img{
            animation: tilt-shaking 5s infinite; 
            cursor: pointer; 
        }
        h1{
            font-family: '5ka Sans Design';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 89.02%;
            text-align: center;
            color: #582D2B;
        }
        @keyframes tilt-shaking {
            1% {transform: rotate(10deg);}
            3%{transform: rotate(-10deg);}
            5% {transform: rotate(10deg);}
            7%{transform: rotate(-10deg);}
            9% {transform: rotate(10deg);}
            11% {transform: rotate(-10deg);}
            13% {transform: rotate(0deg);}
            11% {transform: rotate(0deg);}
        }
    }
    .staticYellowLeaf{
        position: absolute;
        left: 60px;
        top: 30%;
        transform: rotate(-90deg);
    }
    .staticBrownLeaf{
        position: absolute;
        left: 180px;
        top: 40%;
    }
    .staticRedLeaf{
        position: absolute;
        left: 180px;
        top: 60%;
        transform: rotate(90deg);
        transform: scale(1.2);
    }
    .staticRedLeaf2{
        position: absolute;
        left: -50px;
        bottom: -100px;
        transform: rotate(180deg);
    }
    .staticOrangeLeaf{
        position: absolute;
        left: -100px;
        top: 50%;
        transform: rotate(90deg);
    }
    .staticSeed{
        position: absolute;
        left: 220px;
        bottom: 10%;
        transform: rotate(180deg);
    }
    .staticYellowLeaf2{
        position: absolute;
        right: 250px;
        bottom: 20%;
        transform: rotate(180deg);
    }
    .staticBrownLeaf2{
        position: absolute;
        right: 250px;
        bottom: 30%;
        transform: rotate(90deg);
    }
    .staticGreenLeaf2{
        position: absolute;
        right: -120px;
        bottom: 0;
        transform: rotate(-120deg);
    }
    .staticGreenLeaf{
        position: absolute;
        right: 120px;
        bottom: -100px;
    }
    .staticRed2Leaf2{
        position: absolute;
        right: 120px;
        bottom: -100px;
    }
}

@media screen and (max-width: 1300px) {
    .staticBrownLeaf2{
        display: none;
    }
}

@media screen and (max-width: 1170px) {
    .staticBrownLeaf, .staticRedLeaf, .staticGreenLeaf{
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .promoContainer{
        margin-top: 100px !important;
    }
    .staticYellowLeaf, .staticYellowLeaf2{
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .staticRed2Leaf2, .staticSeed{
        display: none;
    }
}

@media screen and (max-width: 670px) {
    .staticGreenLeaf2, .staticRedLeaf2, .staticOrangeLeaf{
        display: none;
    }
}

@media screen and (max-width: 540px) {
    .staticOrangeLeaf{
        display: none;
    }
    .promoContainer{
        margin-top: 50px !important;
        .promoBlock{
            margin: 0px 16px;
        }
        .promoBlock, .promoContent{
            width: 100% !important;
        }
        .promocode{
            margin-top: 16px !important;
            p{
                font-size: 34px !important;
            }
        }
    }
}
